/* Colors and Fonts */

body{
  background-image:url("images/giphy.gif");
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  white;
  font-size: 15px;
  line-height: 1.6em;
  text-decoration: none;
}
body:hover{
background-image:url("https://media.giphy.com/media/xT9IgusfDcqpPFzjdS/giphy.gif");
}
h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #DD5555;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #ccc;
  text-decoration: none;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
}

/* First simple components */
#sidebar {
  background-image: url("https://media.giphy.com/media/xT8qBfPfq52vkkdRte/giphy.gif");
  background-repeat: no-repeat;
    position: fixed;
    left: 0px;
    top: 10px;
    bottom: 0px;
    width: 120px;
    text-align: left;
    height: 200px;
    font-size: 20px;
}
#sidebar:hover {
  background-image: url("https://media.giphy.com/media/3oEduX4yhqMFHSqLQY/giphy.gif");
  background-repeat: no-repeat;
    position: fixed;
    left: 0px;
    top: 10px;
    bottom: 0px;
    width: 120px;
    text-align: left;
    height: 350px;
    font-size: 20px;
}

#page-content {
  margin-left: 300px;
}
.container{
  width: 500px;
  margin: 30px auto;
}
.card{
  background: black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-out;
}
.card:hover{
  background-image: url("https://media.giphy.com/media/3og0IV7MOCfnm85iRa/giphy.gif");
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.005);
}
.img-100{
  width: 100px;
  transition: transform 400ms;
}
.img-100:hover{
  transform: perspective(500px) translateZ(-200px);
}
.img-circle{
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
.btn-red{
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-red:hover{
  background-color: #C61414;
  color: white;
}

/* Specific CSS rules */
.bg-cont{

}
#img-profile{
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}
#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
#movies img{
  width: 80px;
}
#movies td{
  padding: 10px;
}
